<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="/Home">Home</a>
    </li>
  <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="tutorials" id="navbardrop" data-toggle="dropdown">
        Tutorials
      </a>
      <div class="dropdown-menu">
         {% for i in category %}
          <a class="dropdown-item" href="/tutorials/category/{{i.name}}">{{i.name| title }}</a>
        {% endfor %}
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/about">About Us</a>
    </li>
   
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="" id="navbardrop" data-toggle="dropdown">
        Add Tutorials
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/tutorials/category">Category</a>
        <a class="dropdown-item" href="/tutorials/new_tutorial">New Tutorial</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="Logout">Logout</a>
    </li>
  </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-2 px-1 bg-dark position-fixed" id="sticky-sidebar">
            <div class="nav flex-column flex-nowrap vh-100 overflow-auto text-white p-2">
                {% for tutorial in  details %}
                <a href="/tutorials/{{tutorial.id}}" class="nav-link">{{ tutorial.topic}}</a>
                {% endfor %}
            </div>
        </div>
        <div class="col-10 offset-2" id="main">
            {% for tutorial in  details %}
                {{ tutorial.body | safe }}</a>
            {% endfor %}
        </div>


    </div>
</div>

</body>
</html>